
*{
	padding: 0;
	margin: 0;
}

html,body{

	height: 100%; /* chamando html e body, para o tipo responsivo*/

}
 
 form{
 	width: 96%;
 	max-width: 600px;
 	margin: 30px auto;
 	text-align: center;
 }

 form fieldset{
 	padding: 0 40px;
 	border: 1px solid black;
 }

form legend{
	text-align: left;
	font-size: 17px;
	color: rgb(170,170,170);
	

}

form input[type = text]{
	display: inline-block;
	margin-top: 20px;
	width: 80%;
	padding: 10px 13px;
	border: 1px solid black;
}

form input[type = text] : focus, form select: focus, form textarea: focus{
	outline:  0;
}

form select{
	display: inline-block;
	margin-top: 10%;
	width: cal( 80% + 26px);
	padding: 10px 13px;

}

form h2{
	margin-top: 20px;
	color: rgb(100,100,100);

}

.radio-input{

	margin-top: 20px;
	display: inline-block;
	text-align: left;

}

.radio-input span{
	margin-left: 13px;
	font-size: 16px;
	color: rgb(170,170,170);
}

.input{

	margin-top: 20px;
	display: inline-block;
	text-align: left;

}

.input span{
	margin-left: 13px;
	font-size: 16px;
	color: rgb(170,170,170);
}

form input[type = submit]{
	margin-top: 30px;
	color: rgb(170,170,170);
	background-color: gray;
	width: 140px;
	height: 40px;
	border: 1px solid black;
	font-size: 16px;
	cursor: pointer;
}

form textarea{
	margin-top: 20px;
	color: rgb(170,170,170);
	width: 400px;
	height: 80px;
	border: 1px solid #ccc;
	font-size: 12px;
	cursor: pointer;
	resize: none;


}



























